@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display:ital,wght@0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Manrope:wght@300&display=swap');






body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .nav-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.nav-container {
  position: relative;
  z-index: 5;
}

nav {
  background-color: aquamarine;
  padding: 1.4rem 5rem;
  justify-content: space-between;
}

.navLinks {
  text-decoration: none;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 3.4rem;
  color: white;
  font-size: 1.1rem;
}

.arrowdown {
  width: 0.7rem;
  margin-left: 0.3rem;
  opacity: 0;
}

.nav-dropdown-div {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  padding: 0rem 1rem 1.5rem 0;
  opacity: 0;
  z-index: 3;
  top: 3.44rem;
  left: -1rem;
  width: 10rem;
  padding: 0;
}

.firstNavLink,
.secondNavLink,
.thirdNavLink {
  position: relative;
}

.firstNavLink:hover,
.secondNavLink:hover,
.thirdNavLink:hover {
  .arrowdown {
    opacity: 1;
  }

  .nav-dropdown-div {
    opacity: 1;
  }

}

.face-menu,
.lips-menu,
.lipGloss-menu {
  position: relative;
}

.menu-item-arrow {
  cursor: pointer;
  width: 0.4rem;
  display: inline-flex;
  font-weight: 300;
  margin-left: 5.8rem;
  opacity: 0;
}

.menuItem-dropdown-div, .lipGloss-menuItem-dropdown {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  padding: 0.1rem 1rem 1.5rem 0;
  opacity: 0;
  z-index: 3;
  top: 0.1rem;
  left: 10rem;
  width: 12rem;
  padding: 0;
}

li {
  padding: 0.6rem 1rem;
  margin-top: 0;
  font-size: 0.9rem;
}
li:hover{
  background-color: #404040;
}

.face-menu:hover,
.lips-menu:hover
 {
  .menu-item-arrow {
    opacity: 1;
  }

  .menuItem-dropdown-div {
    opacity: 1;
  }
  
}
.lipGloss-menu:hover{
  .lipGloss-menuItem-dropdown{
    opacity: 1;
  }
}
.nav-dropdown {
  list-style-type: none;
   padding-left: 0rem;
   margin-top: 0;
   margin-bottom: 0;
}

.nav-icon {
  width: 1.6rem;
  margin-right: 1rem;
  cursor: pointer;
}
.nav-icon:hover{
  color:red;
  background-color: red;
}
img {
  width: 8rem;
  /* margin-left: 0.9rem; */
}

.wrapper {
  height: 100vh;
  margin-top: -5.6rem;
  position: relative;
}

.right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart-count {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.3rem;
  text-align: center;
  right: 4.6rem;
  top: 1.6rem;
  z-index: 5;
  font-size: 0.89rem;
  font-weight: 700;
}
.wishListLink:active{
background-color: green;
}
.wishlist-title{
  font-size: 1.5rem;
  font-weight: 700;
}
hr {
  margin: 0;
}

.bg-div {
  background-image: url("./images/zaron-girls.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 98vh;
  background-size: cover;
  background-position: top center;
  width: 100%;
  top: 1.6rem
}

.bg-text-div {
  color: white;
  text-align: center;
  line-height: 3rem;
  width: 87.4%;
  margin: auto;
  margin-top: 7rem;
}

.bg-text {
  text-align: center;
  font-size: 7rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.discover {
  font-size: 3.2rem;
  font-style: italic;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.shop-now-btn {
  font-family: 'Open Sans', sans-serif;
  padding: 1.4rem 2.5rem;
  margin-top: 1.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #FFFFFF;
  border: none;
  color: #181818;
  margin-right: 1rem;
}

.section2 {
  padding: 0.8rem 6.2rem;
  /* background-color: red; */
}

.section2-img-div {
  display: flex;
}

.section2-img {
  width: 16.5rem;
}

.section2-img:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}

.section2-title {
  margin-left: 1rem;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1.875rem;
  color: #2b2b2b;
}

.section2-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #2b2b2b;
}

span {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.section3 {
  padding: 0.8rem 6.9rem;
}

.section3-title {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1.875rem;
  color: #2b2b2b;
}

.section3-text {
  display: flex;
  justify-content: space-between;
}

.view-all {
  color: black;
  text-decoration: underline;
}

.section3-products {
  display: flex;
  justify-content: space-between;
}

.section3-icons {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.05rem solid rgba(197, 195, 195, 0.3);
  box-shadow: 0 0.6rem 1rem rgba(197, 195, 195, 0);
  width: 20%;
  height: 50%;
  margin-top: 4rem;
  margin-right: 1rem;
}

.bodywash-div,
.body-lotion-div,
.face-body-div {
  border: 0.1rem solid rgba(197, 195, 195, 0.3);
  width: 32%;
  height: 32rem;
}

.section3-img {
  width: 80%;
  margin-right: 0.7rem;
}

.box,
.wishlist,
.section3-search {
  width: 1.5rem;
  padding: 0.7rem;
}

.section3-productDetails {
  /* color:#4B4B4D; */
  color: #18181B;
  font-family: "Manrope", Sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
  margin-top: 0;
  line-height: 1.2;
  margin-left: 1.2rem;
}

.section3-productPrice {
  color: #444444;
  font-weight: 700;
  font-size: 1.23rem;
  margin-left: 1.2rem;
}

.section4 {
  display: flex;
  width: 100%;
  background-color: red;
  margin: 2rem 0;
  height: 100vh;
  /* margin-top: 3rem;
  margin-bottom: 3rem;
  height: calc(100vh - 11rem); */
}

.section4-left {
  background-color: #F7F5F8;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zaron-men-div {
  background-color: pink;
  width: 100%;
}

.zaron-men {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.section4-title {
  columns: #2B2B2B;
  font-size: 1.7rem;
  line-height: 1.1rem;
  font-family: 'Lora', serif;
  font-weight: 400;
}

.section4-text {
  color: #384B52;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
}

.section4-btn {
  background-color: #181818;
  color: #FFFFFF;
  border: none;
  padding: 0.6rem 2.1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

.section4-btn:hover {
  background-color: #FFFFFF;
  color: #2b2b2b;
  border: 0.1rem solid #2B2B2B;
}

.section5 {
  height: 100vh;
}

.bg-img-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem 6.7rem;
  height: 70vh;
}

.left-div {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-image: url("../src/images/left-bg-img.svg");
  background-repeat: no-repeat;
  width: 50%;
}

.right-div {
  background-image: url("../src/images/right-bg-img.svg");
  background-repeat: no-repeat;
  width: 50%;
}

.section5-subTitle {
  font-size: 1rem;
  color: #2B2B2B;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.explore-btn {
  background-color: black;
  color: white;
}

.explore-btn:hover {
  background-color: white;
  color: black;
  border: 0.1rem solid black;
}

.section5-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0 6rem 0;
}

.section5-texts h2 {
  color: #2b2b2b;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.section5-texts p {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: #8F8F8F;
  margin-top: 0.2rem;
  margin-bottom: 4rem;
}

.input-div {
  display: flex;
  flex-direction: column;

}

.section5 label {
  margin-bottom: 2rem;
  color: black;
  margin-right: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.email-div {
  display: flex;
}

.input {
  margin-top: 1rem;
  margin-bottom: 2.6rem;
  width: 19rem;
  padding: 0.1rem;
}

.submit-btn {
  background-color: black;
  font-family: 'Manrope', sans-serif;
  width: 19rem;
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  color: white;
  border: none;
}

.submit-btn:hover {
  background-color: white;
  color: black;
  border: 0.05rem solid black;
}

.footer-wrapper {
  width: 100%;
}


.footer {
  background-color: black;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(33, 33, 33, 1);
  padding-left: 7rem;
  height: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
