@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: aquamarine;
  padding: 1.2rem 5rem;
  justify-content: space-between;
}

.navLinks {
  text-decoration: none;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 3.4rem;
  color: white;
  font-size: 1.1rem;
}

.nav-icon {
  width: 1.6rem;
  margin-right: 1rem;
}

img {
  width: 7rem;
}

.wrapper {
  height: 100vh;
  margin-top: 0;
  position: relative;
}

.right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 0;
}

.bg-div {
  background-image: url("./images/zaron-girls.jpg");
  background-repeat: no-repeat;
  position: absolute;
  /* height: 87.1vh; */
  height: calc(100vh - 12.9vh);
  background-size: cover;
  width: 100%;
}

.bg-text-div {
  color: white;
  text-align: center;
  line-height: 3rem;
}

.bg-text {
  font-size: 7rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.discover {
  font-size: 3rem;
  font-style: italic;
  font-family: 'Playfair Display', serif;
}