body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  background-color: aquamarine;
  padding: 1.2rem 4rem;
  justify-content: space-between;
}
.navLinks{
  text-decoration: none;
  display: flex;
}
h2{
  text-decoration: none;
  margin-right: 0.8rem;
  color: white;
}
a{
  text-decoration: none;
}
.wrapper{
  background-color: red;
  height: 100vh;
  margin-top: 0;
}
.right-navbar{
  display: flex;
}
hr{
  margin: 0;
}