body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: aquamarine;
  padding: 1.2rem 5rem;
  justify-content: space-between;
}

.navLinks {
  text-decoration: none;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 3.4rem;
  color: white;
  font-size: 1.1rem;
}

.nav-icon{
  width: 1.6rem;
  margin-right: 1rem;
}
img{
  width: 7rem;
}
.wrapper {
  height: 100vh;
  margin-top: 0;
  background-image: url("./images/zaron-girls.jpg");
  background-repeat: no-repeat;
  background-color: aqua;
}

.right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 0;
}